@model NerdDinner.Models.Dinner

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<section class="card">
    <header class="card-header">
        <h3>Are you sure you want to delete this?</h3>
    </header>
    <article class="card-body">
        <p>
            Please confirm you want to cancel the dinner titled:
            <i>@Model.Title</i>
        </p>
    </article>
    <footer class="card-footer">
        <input type="submit" value="Delete" class="btn btn-default float-right" /> |
        @Html.ActionLink("Back to List", "Index")
    </footer>
</section>

}
