<section class="card">
    <header class="card-header">
        <h2>Dinner Deleted</h2>
    </header>
    <article class="card-body">
        <p>Your dinner was successfully deleted.</p>
    </article>
    <footer class="card-footer">
        <a href="/dinners">Click for Upcoming Dinners</a>
    </footer>
</section>